/* CSS declarations go here */

@font-face{
  font-family:'League Gothic';
  src: url(//:) format ('no404'), url('LeagueGotic-Regular.otf') format('opentype'); /* tricky! */
}

body {
	background-color: black;
}

.background-container {
	background: url('/supp-logo-white.jpg');
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.2;
	z-index: -1;
	height: 110%;
	position: absolute;
	top: 4em;
	width: 100%;
}

ul {
	margin: 0;
}

li a {
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'League Gothic';
	color: white;
}

/* Live */

.first-row-live {
	margin-top: 9em;
}

/* Gamelist */

.bracket-games h2 {
	margin-top: 1em;
	text-align: center;
}

.group-games h2 {
	margin-top: 1em;
	text-align: center;
}

.quarter-final-games,
.semi-final-games,
.grand-final-games,
.group-stage-games {
	list-style: none;
}

.quarter-final-games>*,
.group-stage-games>* {
	margin-bottom: 1em;
}

.quarter-final-games ul,
.semi-final-games ul,
.grand-final-games ul,
.group-stage-games ul {
	font-family: 'League Gothic';
	background-color: black;
	color: white;
	border: 1px solid white;
}

.quarter-final-games ul:hover,
.semi-final-games ul:hover, 
.grand-final-games ul:hover, 
.group-stage-games ul:hover  {
	background-color: white;
	color: black;
}

.semi-final-games {
	margin-top: 3.55em;
}

.semi-final-games > :last-child {
	margin-top: 7.3em;
}

.grand-final-games {
	margin-top: 9.8em;
}

.game-list-item {
	list-style: none;
}

.game-list-item ul {
	list-style: none;
	margin: 0;
}

.game-list-item ul .team-one {
	border-bottom: 1px solid;
}

.team-name {
	display: inline-block;
	margin: 0.5em 1em 0.5em 1em;
	padding: 0;
}

.team-score {
	display: inline-block;
	margin: 0.5em 1em 0.5em 1em;
	padding: 0;	
}

.mouse-on {
	-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,1);
	background-color: white;
	color: black;
}

.status-pre {
	background-color: rgba(189,183,107,0.8);
}

.status-active {
	background-color: rgba(34,139,34,0.8);
}

.status-post {
	background-color: rgba(255,0,0,0.8);
}

.current-location {
	background-color: white !important;
	color: black !important;
}

.button {
	font-family: 'League Gothic';
}

.button-group {
	text-align: center;
}

.button-group.round>* .button {
	background-color: black;
	border: 1px solid white;
	margin: 1em 0em 1em 0em;
}

.button-group.round>* .button {
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-top: 1px solid white;
}

.button-group.round>* .button:last-child {
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid white;
}

/* Team List */
.team-list {
	border: none;
	background: none;
	font-family: 'League Gothic';
	width: initial;
	margin: 0 auto;
	margin-top: 3em;
}

.team-list thead {
	background: none;
}

.team-list thead tr th {
	color: white;
	font-size: 4rem;
	line-height: 3rem;
}

.team-list .team-list-item {
	background: none;
}

.team-list .team-list-item td {
	color: white;
	font-size: 3rem;
	border-bottom: 1px solid white;
	line-height: 2.5rem;
}

@media only screen and (max-width: 40em) { 
	.quarter-final-games>*,
	.semi-final-games,
	.semi-final-games > :last-child,
	.grand-final-games,
	.group-stage-games {
		margin-top: 1em;
	}

	.button-group.round>* .button {
		font-size: 0.7rem;
		padding: 1em 1em 1em 1em;
	}

	.first-row-live {
		margin-top: 3em;
	}

	.background-container {
		background-size: 100% auto;
	}

}
